.birth__block {
  height: max-content;
  display: grid;
  gap: 20px;

  div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(145px, 145px));
    gap: 20px;
  }
}

.gender__block {
  height: max-content;
  display: grid;
  gap: 20px;
}

@media (max-width: 605px) {
  .birth__block {
    div {
      grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));

      input:last-child {
        grid-column: 1 / -1;
      }
    }
  }
}

@media (max-width: 485px) {
  .gender__block {
    grid-template-columns: 1fr;
  }
}
