.course-page__wrapper {
  display: grid;
  grid-auto-flow: row;
  gap: 6vw;
  margin: 0 0 110px 0;
}

.course__line {
  width: 100%;
  height: 2px;
  background: #414141;
  opacity: 10%;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .course-page__wrapper {
    gap: 12vw;
  }
}
