.header {
  width: 100%;
  height: 140px;
  position: absolute;
  z-index: 1000;
}

.header__logo {
  width: 171px;
  height: 81px;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    opacity: 60%;
  }
}

.header__block {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 60px;
  align-items: center;
}

.header-links {
  justify-self: center;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.header-ex-links {
  justify-self: right;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.header-links__item {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease;
  white-space: nowrap;

  &:hover {
    opacity: 60%;
  }
}

.header-links__item:not(:last-child) {
  margin: 0 40px 0 0;
}

.header__line {
  width: 100%;
  height: 2px;
  background: #fff;
  opacity: 50%;
}

.header__burger {
  display: block;
  position: relative;
  width: 40px;
  height: 24px;
  z-index: 1000;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    opacity: 60%;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  span {
    position: absolute;
    background: rgba(255, 255, 255, 1);
    width: 100%;
    height: 4px;
    left: 0;
    top: 10px;
    transition: all 0.3s ease 0s;
    border-radius: 5px;
  }
}

.header__burger:before,
.header__burger:after {
  content: "";
  background: rgba(255, 255, 255, 1);
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.header__burger.active:before {
  transform: rotate(45deg);
  top: 10px;
  background-color: #414141;
}

.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 10px;
  background-color: #414141;
}

.header__burger.active {
  position: fixed;
  right: 15px;

  span {
    transform: scale(0);
    background-color: #414141;
  }
}

.burger__block {
  top: -100%;
  opacity: 0;
  right: 0;
  position: fixed;
  transition: all 0.3s ease-in-out;
  width: 320px;
  height: 95vh;
  border-radius: 20px;
  background: #fff;
  box-shadow: -10px 0px 12.4px 3px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-auto-rows: auto;
  padding: 120px 20px 50px 20px;

  .header__line {
    background-color: #aaaaaa;
    opacity: 20%;
    align-self: flex-end;
  }
}

.burger__block.active {
  visibility: visible;
  opacity: 100%;
  position: fixed;
  top: 25px;
  right: 0;
  transition: all 0.3s ease-in-out;
  z-index: 999;
}

.burger__nav {
  display: grid;
  grid-template-rows: repeat(auto, max-content);
  height: max-content;
  gap: 30px;
}

.burger__ex-nav {
  display: grid;
  grid-template-rows: repeat(auto, max-content);
  height: max-content;
  gap: 30px;
  align-self: flex-end;
}

.social__link:not(:last-child) {
  margin: 0 40px 0 0;
}

.nav__link {
  color: #414141;
  font-size: 24px;
  font-weight: 500;
  transition: all 0.3s ease;
  display: block;

  &:hover {
    opacity: 60%;
  }
}

.nav__link {
  img {
    transition: all 0.3s ease;
    filter: invert(0.7);

    &:hover {
      opacity: 60%;
    }
  }
}

@media (max-width: 1200px) {
  .header {
    height: 125px;
  }

  .header__block {
    grid-template-columns: repeat(2, 1fr);
    gap: 0 60px;
  }

  .header-links {
    justify-self: flex-end;
  }

  .header__logo {
    width: 110px;
    height: 52px;
  }
}

@media (max-width: 768px) {
  .header__logo {
    width: 73px;
    height: 34px;
  }

  .header {
    height: 75px;
  }

  .burger__block.active {
    top: 0;
    height: 100vh;
    border-radius: 0;
  }
}

@media (max-width: 460px) {
  .burger__block.active {
    width: 100%;
  }
}
